body{
  margin: 0;
}
h1{
  padding-top: 50px;
  font-family: 'Audiowide', cursive;
  font-size: 4rem;
  color: #D8D8D8;
}
h2{
  font-family: 'Noto Serif', serif;
  font-size: 2rem;
  color: #D8D8D8;
}
h3{
  font-family: 'Noto Serif', serif;
  font-size: 1rem;
}
p{
  font-family: 'Lora', serif;
  line-height: 2;
}
hr{
  border: 1px solid black;
  width: 10%;
  margin: 50px auto;
}
a{
  font-family: 'Lora', serif;
}

/*Top Section*/
.top-container{
  padding-top: 80px;
  text-align: center;
  background-color: #000000;
}
.team{
  text-decoration: underline;
}
.car2021{
  position: absolute;
  right: 350px;
  width: 15%;
}
.car2020{
  position: absolute;
  left: 350px;
  top: 275px;
  width: 15%;
}
.logo{
  width: 40%;
  padding-bottom: 30px;
}

/*Middle Section*/
.middle-container{
  padding: 100px 0;
  text-align: center;
  background-color: #00D2BE;
}
.profile{
  margin: auto;
  width: 30%;
}
.picture{
  height: 300px;
}
.skill-row{
  margin: 80px auto;
  text-align: left;
  width: 50%;
  color: #000000;
}
.adap-img{
  float: left;
  width: 40%;
  margin-right: 50px;
}
.drive-img{
  float: right;
  width: 45%;
  margin-left: 50px;
}
.prof-img{
  float: left;
  width: 50%;
  margin-right: 50px;
}
.contact-message{
  margin:auto auto 50px auto;
  width: 30%;
}

.btn {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #000000;
   font-family: 'Lora', serif;
   font-size: 20px;
   font-weight: 100;
   padding: 20px;
   background-color: #D8D8D8;
   -webkit-box-shadow: 1px 1px 4px 0 #000000;
   -moz-box-shadow: 1px 1px 4px 0 #000000;
   box-shadow: 1px 1px 4px 0 #000000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #D8D8D8 0;
   background: #D8D8D8;
   background-image: -webkit-linear-gradient(top, #D8D8D8, #00D2BE);
   background-image: -moz-linear-gradient(top, #D8D8D8, #00D2BE);
   background-image: -ms-linear-gradient(top, #D8D8D8, #00D2BE);
   background-image: -o-linear-gradient(top, #D8D8D8, #00D2BE);
   background-image: -webkit-gradient(to bottom, #D8D8D8, #00D2BE);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
/*Bottom Section*/
.bottom-container{
  background-color: #D8D8D8;
  text-align: center;
  padding: 50px;
}
.footer-link{
  margin: 0 30px;
  text-decoration: none;
  color: #000000;
}
.footer-link:hover{
  color: #00D2BE;
}
.credit{
  margin-top: 50px;
  color: #000000
}
